#### Q1. Create a list in python using the followings: 2,3,4,5,6,7 with variable ‘a’
- Add ‘mango to the above list
 
- Also add banana, grapes & orange in the list 

- insert apple in the 5th position of a variable ‘a’

- Remove last item from the list

In [12]:
l = [2,3,4,5,6,7]
## adding mango
l.append("mango")
l.append("banana")
l.append("grapes")
l.append("orange")
l.insert(5,"Apple")
## using pop to remove the item in the last index
l.pop(-1)

'orange'

In [13]:
l

[2, 3, 4, 5, 6, 'Apple', 7, 'mango', 'banana', 'grapes']

#### Q2.

L = [1,2,3,4,5,6,7]

Using the above list slice from 1:4

In [14]:
L = [1,2,3,4,5,6,7]
L[1:4]

[2, 3, 4]

#### Q3. Reverse the order of given string L = [4,5,6,8,3] Without using reverse() function.

In [16]:
L = [4,5,6,8,3]
l_reversed = L[::-1]
l_reversed

[3, 8, 6, 5, 4]

#### Q4. Use list comprehension to square the given list L=[2,4,7,3,6,8]

In [30]:
L = [2,4,7,3,6,8]
[i **2 for i in L]

[4, 16, 49, 9, 36, 64]

In [29]:
## using lambda function with map 
a =list( map(lambda x : x**2,L))
a

[4, 16, 49, 9, 36, 64]

#### Q5. Create a function that takes in a tuple of integers and returns the sum of the integers. Test the function with a tuple of your choice.

In [16]:
# creating a function which returns the sum of integers
def tuple_sum(t):
    
        sum_of_int = 0
    ## using for loop to iterate over the tuple of integers
        for i in t:
            sum_of_int += i
        print( sum_of_int)
tuple_sum((4,5,7))

16

#### Q6. Create two sets of your favourite fruits, and use the union() method to combine them into a single set. Print the resulting set to the console

In [3]:
## creating set 
set1 = {"apple","mango"}
set2 = {"orange","grapes"}
# using union function
union = set1.union(set2)
print(union , "is the combined set")

{'grapes', 'orange', 'mango', 'apple'} is the combined set

#### Q7. Create a set of random words, and use the add() method to add a new word to the set. Print the resulting set to the console.

In [22]:
## creating a set
s = {"Prakash","Statistics" , "PowerBI", "Singh"}
## adding SQL
s.add("SQL")
#final set
s

{'PowerBI', 'Prakash', 'SQL', 'Singh', 'Statistics'}

#### Q8. Create a set of your favourite animals, and use the remove() method to remove one animal from the set. Print the resulting set to the console.

In [1]:
## creating a set
favourite_animals = {"Elephant","Tiger","Lion","Cheetah"}
## removing the animal cheetah
favourite_animals.remove("Cheetah")
## final list
favourite_animals

{'Elephant', 'Lion', 'Tiger'}

#### Q9. favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}

      favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]

      Use the zip() function to combine the book set and movie list into a list of tuples  representing book/ 

 movie pairs. Print the resulting list.

In [1]:
favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}
favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]
book_movie_pairs = list(zip(favorite_books, favorite_movies))

print(book_movie_pairs)

[('1984', 'The Shawshank Redemption'), ('Pride and Prejudice', 'The Godfather'), ('To Kill a Mockingbird', 'The Dark Knight')]

#### Q10. Write a Python program to find the difference between consecutive numbers in a list

In [17]:
## creating a function
def consecutive_difference(lst):
    diff = []
    for i in range(1, len(lst)):
        diff.append(lst[i] - lst[i-1])
    return diff

# Example usage
my_list = [1, 4, 7, 10, 12]
diff = consecutive_difference(my_list)
print(diff)

[3, 3, 3, 2]